webshop/.ipynb_checkpoints/
webshop/*.pyc
webshop/*.swp

webshop/.DS_Store
webshop/.idea/
webshop/.pytest_cache/
webshop/.vscode/

webshop/__pycache__/
webshop/data/*
webshop/search_engine/indexes*
webshop/search_engine/resources*
webshop/transfer/flagged
webshop/user_session_logs/
__pycache__/

webshop/baseline_models/ckpts_downloaded/
webshop/baseline_models/data/
webshop/baseline_models/ckpts/
webshop/web_agent_site/__pycache__/

.api_keys.txt
.ipynb_checkpoints/*
